@inherits LayoutComponentBase

@inject AppState AppState

<PageTitle>IDB Weather</PageTitle>

<FluentDesignSystemProvider AccentBaseColor="#D83B01" BaseLayerLuminance=AppState.SelectedLightMode>
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4">
                <div class="col-12" style="display:flex; width: 100%">
                    <div class="col-10">
                        <div style="display: flex; margin-top: 4px">
                            <FluentTextField Placeholder="Search city" @bind-Value="@City" style="width: 30%" />
                            <FluentButton style="margin-left: 1px" Appearance="Appearance.Stealth" @onclick="OnClickFindLocation">
                                <span class="oi oi-magnifying-glass"></span>
                            </FluentButton>
                           <FluentButton style="margin-left: 1px" Appearance="@(isGeolocated ? Appearance.Accent : Appearance.Stealth)" @onclick="OnClickCurrentLocation">
                                <span class="oi oi-map-marker"></span>
                            </FluentButton>
                            <div style="display: flex; margin: 8px 20px">
                                <span class="labelSmall">Fahrenheit</span>
                                &nbsp;
                                <FluentSwitch ValueChanged="@((e) => OnModeChanged(e))" style="vertical-align: middle"></FluentSwitch>
                                &nbsp;
                                <span class="labelSmall">Celsius</span>
                            </div>
                        </div>                        
                    </div>
                    <div class="col-2" style="text-align: right";>
                        <img src="/images/IDB-Logo.png" style="height:2rem;" />
                    </div>
                </div>
            </div>
            <article class="content px-4">
                <ErrorBoundary @ref="@errorBoundary">
                    <ChildContent>
                        @if (showCityEmpty)
                        {
                            <div class="alert alert-danger">
                                <div style="display: flex">
                                    <span class="oi oi-magnifying-glass"></span>
                                    &nbsp;
                                    <span style="margin-left: 10px; margin-top: 0px; font-size: small">Please enter the city name</span>
                                </div>
                            </div>
                        }
                        @Body
                    </ChildContent>
                    <ErrorContent>
                        <div class="alert alert-danger">
                            <div style="display: flex">
                                    <span class="oi oi-circle-x" style="font-size: 2rem"></span>
                                &nbsp;
                                <b style="margin-left: 10px; margin-top: 8px">Sorry there was an error!</b>
                            </div>
                        </div>
                    </ErrorContent>
                </ErrorBoundary>
            </article>            
        </main>
    </div>    
</FluentDesignSystemProvider>

@code
{
    string City;
    private ErrorBoundary errorBoundary;
    public bool isGeolocated { get; set; } = true;
    public bool showCityEmpty = false;

    protected override void OnParametersSet()
    {
        errorBoundary?.Recover();
    }

    public void OnModeChanged(bool unit)
    {
        AppState.SetUnit(unit);
    }

    public void OnClickCurrentLocation()
    {        
        isGeolocated = true;
        City = string.Empty;
        AppState.SetCity(string.Empty);
        showCityEmpty = false;
        AppState.SetCurrentLocation();
    }

    public void OnClickFindLocation()
    {
        if(!string.IsNullOrEmpty(City))
        {
            isGeolocated = false;
            showCityEmpty = false;
            AppState.SetCity(City);
        }
        else
        {
            showCityEmpty = true;
        }
    }
}