@inherits LayoutComponentBase

@inject AppState AppState

<PageTitle>IDB Weather</PageTitle>

<FluentDesignSystemProvider AccentBaseColor="#D83B01" BaseLayerLuminance=AppState.SelectedLightMode>
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4">
                <div class="col-12" style="display:flex; width: 100%">                    
                    <div class="col-10">
                        <div style="display: flex; margin-top: 4px">
                            <FluentTextField Placeholder="Search city" @bind-Value="@City" style="width: 30%" />
                            <FluentButton style="margin-left: 1px" Appearance="Appearance.Stealth" @onclick="OnClickFindLocation">
                                <span class="oi oi-magnifying-glass"></span>
                            </FluentButton>
                           <FluentButton style="margin-left: 1px" Appearance="Appearance.Stealth" @onclick="OnClickCurrentLocation">
                                <span class="oi oi-map-marker"></span>
                            </FluentButton>
                            <div style="display: flex; margin: 8px 40px">
                                <span class="labelSmall">Fahrenheit</span>
                                &nbsp;
                                <FluentSwitch ValueChanged="@((e) => OnModeChanged(e))" style="vertical-align: middle"></FluentSwitch>
                                &nbsp;
                                <span class="labelSmall">Celsius</span>
                            </div>
                        </div>                        
                    </div>
                    <div class="col-2" style="text-align: right";>
                        <img src="/images/IDB-Logo.png" style="height:2rem;" />
                    </div>
                </div>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</FluentDesignSystemProvider>

@code
{
    string City;

    public void OnModeChanged(bool unit)
    {
        AppState.SetUnit(unit);
    }

    public void OnClickCurrentLocation()
    {
        AppState.SetCurrentLocation();
    }

    public void OnClickFindLocation()
    {
        AppState.SetCity(City);
    }
}