@page "/forecast"
@using IDB.Weather.Model.Models

@inherits ForecastRazor 

<PageTitle>IDB Weather</PageTitle>

<br/>
@if (weatherForecast != null && !string.IsNullOrEmpty(weatherForecast.cod))
{
    <div class="row" style="margin-left:15px;">
        <div class="col-5">
            <h5>
                @DateTime.Now.ToLongDateString(), @DateTime.Now.ToLongTimeString()
            </h5>
            <br/>            
            <h1 style="font-weight: bold">@weatherForecast?.city?.name | @weatherForecast?.city?.country</h1>
        </div>
    </div>
    <br/>
    <div class="row" style="margin-left:15px;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Temperature</th>
                    <th>Weather</th>
                    <th>Summary</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var forecast in weatherForecast?.list)
                {
                    <tr>
                        <td>
                             <ul class="weather-items orange-side standard-padding no-bullets">
                                <li>                                        
                                    <table>
                                        <tr>
                                            <td>
                                                <span class="oi oi-calendar"></span>
                                                <b>@forecast?.dt_txt</b>                                                   
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="oi oi-clock"></span>
                                                Forecasted @forecast?.dtLocal
                                            </td>
                                        </tr>
                                    </table>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <div style="display: flex">
                                <img src="@forecast?.iconUrl" />
                                <h3 style="margin-top: 5px;">
                                    @forecast?.main?.temp°@(units == Units.imperial ? "F" : "C")
                                </h3>
                            </div>
                            <div>
                                <span class="labelSmallBold">min</span>
                                @forecast?.main?.temp_max°@(units == Units.imperial ? "F" : "C")
                                 <span class="labelSmallBold">max</span>
                                 @forecast?.main?.temp_max°@(units == Units.imperial ? "F" : "C")
                            </div>
                        </td>
                        <td>
                             <div>
                                 <h5>@forecast?.weather?.FirstOrDefault()?.main</h5>
                                 <span class="labelSmallBold">
                                        Feels like @forecast?.main?.feels_like°@(units == Units.imperial ? "F" : "C")
                                        <br/>
                                         <b>                    
                                            Precipitation: @forecast?.clouds?.all% @forecast?.weather?.FirstOrDefault()?.description
                                         </b>
                                 </span>
                            </div>
                        </td>
                        <td>
                            <div>
                                <SummaryForecastComponent forecast=@forecast units=@units />
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@if(weatherForecast == null || string.IsNullOrEmpty(weatherForecast.cod))
{
    <EmptyDataComponent />
}

<ErrorBoundary>
    <ChildContent>
        
    </ChildContent>
    <ErrorContent>
        <div class="alert alert-danger">
            There was an error! 
        </div>
    </ErrorContent>
</ErrorBoundary>