@page "/"
@using IDB_Weather.Data.Models

@inherits IndexRazor 

<PageTitle>IDB Weather</PageTitle>

<br/>
@if (weatherForecast != null)
{
    <div class="row" style="margin-left:15px;">
        <h5>
            @DateTime.Now.ToLongDateString(), @DateTime.Now.ToLongTimeString()
        </h5>
        <div class="col-5">
            <br/>
            <h1 style="font-weight: bold">
                @weatherForecast?.name | @weatherForecast?.sys?.country
            </h1>        
            <div style="display: flex">
                <img src="@weatherForecast?.iconUrl" style="height: 5rem"/>
                <h1>
                    @weatherForecast?.main?.temp°@(units == Units.imperial ? "F" : "C")
                </h1>                
            </div>
        </div>
        <div class="col-1">
            &nbsp;
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <br/>
                    <div class="row">
                        <div class="col-6">                
                            <h4>min: <b>@weatherForecast?.main?.temp_min°@(units == Units.imperial ? "F" : "C")</b></h4>                 
                        </div>
                        <div class="col-6">                
                            <h4>max: <b>@weatherForecast?.main?.temp_max°@(units == Units.imperial ? "F" : "C")</b></h4> 
                        </div>
                    </div>                   
                </div>
            </div>
            <div class="row">
                <div class="col-12" style="display:flex">                
                    <img src="/images/icons8-sunrise-48.png" style="height: 4rem"/>
                    <h4 style="margin-left: 20px; margin-top: 10px">sunrise: @weatherForecast?.sunriseLocal</h4>                 
                </div>
            </div>
            <div class="row">
                <div class="col-12" style="display:flex">                
                    <img src="/images/icons8-sunset-48.png" style="height: 4rem"/>
                    <h4 style="margin-left: 20px; margin-top: 10px">sunset: @weatherForecast?.sunsetLocal</h4>                 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <br/>
                <div>
                <b>
                    Feels like @weatherForecast?.main?.feels_like°@(units == Units.imperial ? "F" : "C") |
                    @weatherForecast?.weather?.FirstOrDefault()?.main | @weatherForecast?.weather?.FirstOrDefault()?.description
                </b>
                <ul class="weather-items orange-side standard-padding no-bullets">
                    <li>
                        <div>
                            <table>
                                <tr>
                                    <td style="width: 40%">
                                        <svg data-v-47880d39="" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve" class="icon-wind-direction" style="transform: rotate(245deg);"><g data-v-47880d39="" fill="#48484a"><path data-v-47880d39="" d="M510.5,749.6c-14.9-9.9-38.1-9.9-53.1,1.7l-262,207.3c-14.9,11.6-21.6,6.6-14.9-11.6L474,48.1c5-16.6,14.9-18.2,21.6,0l325,898.7c6.6,16.6-1.7,23.2-14.9,11.6L510.5,749.6z"></path><path data-v-47880d39="" d="M817.2,990c-8.3,0-16.6-3.3-26.5-9.9L497.2,769.5c-5-3.3-18.2-3.3-23.2,0L210.3,976.7c-19.9,16.6-41.5,14.9-51.4,0c-6.6-9.9-8.3-21.6-3.3-38.1L449.1,39.8C459,13.3,477.3,10,483.9,10c6.6,0,24.9,3.3,34.8,29.8l325,898.7c5,14.9,5,28.2-1.7,38.1C837.1,985,827.2,990,817.2,990z M485.6,716.4c14.9,0,28.2,5,39.8,11.6l255.4,182.4L485.6,92.9l-267,814.2l223.9-177.4C454.1,721.4,469,716.4,485.6,716.4z"></path></g></svg>
                                        wind: @weatherForecast?.wind?.speed mph
                                    </td>
                                    <td style="width: 10%">
                                        &nbsp;
                                    </td>
                                    <td style="width: 50%">
                                        <svg data-v-7bdd0738="" data-v-3208ab85="" width="96pt" height="96pt" viewBox="0 0 96 96" class="icon-pressure"><g data-v-7bdd0738="" transform="translate(0,96) scale(0.100000,-0.100000)" fill="#48484a" stroke="none"><path data-v-7bdd0738="" d="M351 854 c-98 -35 -179 -108 -227 -202 -27 -53 -29 -65 -29 -172 0
                                            -107 2 -119 29 -172 38 -75 104 -141 180 -181 58 -31 66 -32 176 -32 110 0
                                            118 1 175 32 77 40 138 101 178 178 31 57 32 65 32 175 0 110 -1 118 -32 176
                                            -40 76 -106 142 -181 179 -49 25 -71 29 -157 32 -73 2 -112 -1 -144 -13z m259
                                            -80 c73 -34 126 -86 161 -159 24 -50 29 -73 29 -135 0 -62 -5 -85 -29 -135
                                            -57 -119 -161 -185 -291 -185 -130 0 -234 66 -291 185 -24 50 -29 73 -29 135
                                            0 130 66 234 185 291 82 40 184 41 265 3z"></path><path data-v-7bdd0738="" d="M545 600 c-35 -35 -68 -60 -80 -60 -27 0 -45 -18 -45 -45 0 -33 -50
                                            -75 -89 -75 -18 0 -41 -5 -53 -11 -20 -11 -20 -11 3 -35 12 -13 33 -24 46 -24
                                            17 0 23 -6 23 -23 0 -13 10 -33 23 -45 30 -28 47 -13 47 43 0 32 6 47 28 68
                                            15 15 37 27 48 27 26 0 44 18 44 44 0 12 26 47 60 81 l60 61 -28 27 -28 27
                                            -59 -60z"></path></g></svg>
                                        @weatherForecast?.main?.pressure hPa
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 40%">
                                        deg: @weatherForecast?.wind?.deg
                                    </td>
                                    <td style="width: 10%">
                                        &nbsp;
                                    </td>
                                    <td style="width: 50%">                                    
                                        humidity: @weatherForecast?.main?.humidity %
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan=3>
                                        visibility: @weatherForecast?.visibility mts
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </li>
                </ul>
            </div>
            </div>
        </div>
    </div>
}

@if(weatherForecast ==null || string.IsNullOrEmpty(weatherForecast.@base))
{
    <div class="row" style="margin-left:15px; text-align: center">        
        <h3 style="color: #eb6e4b; margin-top: 20px">The city was not found or data is empty please try again</h3>
        <br/>
        <div>
            <img src="/images/noresults.gif"/>
        </div>
    </div>
}

<ErrorBoundary>
    <ChildContent>
        
    </ChildContent>
    <ErrorContent>
        <div class="alert alert-danger">
            There was an error! 
        </div>
    </ErrorContent>
</ErrorBoundary>