@page "/"
@using IDB.Weather.Model.Models

@inherits IndexRazor 

<PageTitle>IDB Weather</PageTitle>

<br/>
@if (weatherForecast != null && !string.IsNullOrEmpty(weatherForecast.name))
{
    <div class="row" style="margin-left:15px;">
        <h5>
            @DateTime.Now.ToLongDateString(), @DateTime.Now.ToLongTimeString()
        </h5>
        <div class="col-5">           
            <MainDataComponent weatherForecast=@weatherForecast units=@units />
        </div>
        <div class="col-1">
            &nbsp;
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <br/>
                    <div class="row">
                        <div class="col-6">
                            <h4>min: <b>@weatherForecast?.main?.temp_min°@(units == Units.imperial ? "F" : "C")</b></h4>                 
                        </div>
                        <div class="col-6">                
                            <h4>max: <b>@weatherForecast?.main?.temp_max°@(units == Units.imperial ? "F" : "C")</b></h4> 
                        </div>
                    </div>                   
                </div>
            </div>
            <div class="row">
                <div class="col-12" style="display:flex">                
                    <img src="/images/icons8-sunrise-48.png" style="height: 4rem"/>
                    <h4 style="margin-left: 20px; margin-top: 10px">sunrise: @weatherForecast?.sunriseLocal</h4>                 
                </div>
            </div>
            <div class="row">
                <div class="col-12" style="display:flex">                
                    <img src="/images/icons8-sunset-48.png" style="height: 4rem"/>
                    <h4 style="margin-left: 20px; margin-top: 10px">sunset: @weatherForecast?.sunsetLocal</h4>                 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <br/>
                <div>
                <b>                    
                Precipitation: @weatherForecast?.clouds?.all% @weatherForecast?.weather?.FirstOrDefault()?.description
                </b>
                <br/>
                <ul class="weather-items orange-side standard-padding no-bullets">
                    <li>
                        <div>
                            <SummaryComponent weatherForecast=@weatherForecast units=@units />
                        </div>
                    </li>
                </ul>
            </div>
            </div>
        </div>
    </div>
}
@if(weatherForecast == null || string.IsNullOrEmpty(weatherForecast.@base))
{
    <EmptyDataComponent />
}